body{
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: #333;

}
.nav_length{
    width: 100%;
    height: 56px;
    /* background-color: aqua; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.dc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    /* width: 100px; */
    background-color: antiquewhite;
    width: 250px;
}
#logo{
    margin-left: 10px;
    font-size: larger;
}
.dip{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#expend{
    font-size:xx-large;
}
.full_scr{
    width: 40px;
    padding-left: 20px;
}
.search{
    width: 60px;

}
.wallet{
    width: 120px;
    color: rgb(230, 36, 36);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.bag{
    width: 50px;
}
#bag{
    font-size: large;
    font-weight: 300;
}
.payment{
    width: 140px;
}
.payment_text{
    color: #EB994A;
    font-weight: 700;
    font-size: 0.8rem;
}
.empty{
    width: 360px;
}
.user{
    width: 60px;
}
.support{
    width: 150px;

}
.support_text{
    color: rgba(0, 0, 255, 0.66);
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    background-color: transparent;
    border: none;
    font-weight: 900;
}

.log{
    width: 60px;
}
.log .log_ic{
    color: red;
    font-size: larger;

}

   /* New Section for toggle left side page */

.toggle{
    width: 243px;
    height: 540px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 15px;
    position: fixed;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    /* justify-content: center; */
}
.toggle::-webkit-scrollbar{
    width: 12px;
}
.toggle::-webkit-scrollbar-thumb{
    background-color: #888; /* Color of the scroll thumb */
    border-radius: 10px;   /* Rounded corners for the thumb*/
    border: 3px solid #f1f1f1; /*Adds padding around the thumb*/
}
.name{
    width: 85%;
    height: 50px;
    margin-left: 10px;
    /* background-color: aliceblue; */
}
.name_text{
    font-size: 0.7rem;
    font-weight: 500;
    color:rgba(17, 7, 7, 0.795);;
}
.nt1{
    color: red;
    position: relative;
    bottom: 10px;
}
a{
    text-decoration: none;
}
/* Ul new section for all li inside the ul list */

.panel_list{
    font-size: 0.8rem;
    font-weight: 500;
    color:rgba(17, 7, 7, 0.795);;
    list-style-type: none;
}
.m_dashbord{
    /* background-color: aliceblue; */
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 0.25s;
    position: relative;
    left:-17px;
}
.dash{
    color: #333;
    margin-left: 8px;
}

.bookf{
    width: 220px;
    height: 60px;
    /* background-color: beige; */
    position: relative;
    left: -17px;
    display: flex;
    align-items: center;
}
.hr-line{
    width: 2rem;
    height:1px;
    border-bottom: 2px solid blue;
    padding-left: 2px;
}
/* experiment */
.icu{
    margin-left: 30px;
}
.toggle.hide{
    transform: translateX(-100%);
}
.m_dash:hover{
background-color: #b3d4ff;
padding: 3px;
}
.m_dash{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 0.25s;
    border-radius: 5px;
}
.subItem{
    display: none;
    position: relative;
    left: 20px;
}
.hove:hover{
    color: blue;
}
.text_v
{
    margin-left: 5px;
}
.dash_icon{
    width: 10px;
}
.dash_text{
    width: 135px;
}
